{% extends "layout.html" %}
{% block above_article_body %}

<div class="london-map">

<!-- Artboard: map295-produce a id of the artboard Mobile -->
 <div id='ig-map-map295' class='' data-o-grid-colspan="12 center Shide">
		<style type='text/css' media='screen,print'>
			#ig-map-map295{
				position:relative;
				overflow:hidden;
				width:295px;
			}
			.ig-ai-abs{
				position:absolute;
			}
			.ig-ai-img{
				display:block;
				width:100% !important;
			}
			#ig-map-map295 p{
				font-family:MetricWeb,arial,helvetica,sans-serif;
				font-size:13px;
				line-height:18px;
				margin:0;
			}
			#ig-map-map295 .ig-ai-pstyle0 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:14px;
				line-height:10px;
				font-weight:400;
				color:#000000;
			}
			#ig-map-map295 .ig-ai-pstyle1 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:14px;
				line-height:10px;
				font-weight:400;
				color:#333333;
			}
			#ig-map-map295 .ig-ai-pstyle2 {
				font-size:14px;
				line-height:14px;
				text-align:center;
				color:#ffffff;
			}
			#ig-map-map295 .ig-ai-pstyle3 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:14px;
				line-height:7px;
				font-weight:800;
				color:#ffffff;
			}
		</style>
		<div id='ig-map-map295-graphic'>
			<img id='ig-ai0-0'
				class='ig-ai-img'
				src='images/map-map295.png'
				/>
			<div id='ig-ai0-5' class='ig-mobile ig-ai-abs' style='top:33.8007%;left:44.6089%;width:32.3937%;margin-left:-16.1969%;'>
				<p class='ig-ai-pstyle2'>Regent&rsquo;s</p>
				<p class='ig-ai-pstyle2'>Park</p>
			</div>
			<div id='ig-ai0-6' class='ig-mobile ig-ai-abs' style='top:39.7863%;left:73.7441%;width:36.4377%;margin-left:-18.2188%;'>
				<p class='ig-ai-pstyle2'>St Paul&rsquo;s</p>
				<p class='ig-ai-pstyle2'>Cathedral</p>
			</div>
			<div id='ig-ai0-7' class='ig-mobile ig-ai-abs' style='top:47.8844%;left:15.9579%;width:42.1799%;margin-left:-21.0899%;'>
				<p class='ig-ai-pstyle2'>Kensington</p>
				<p class='ig-ai-pstyle2'>Gardens</p>
			</div>
			<div id='ig-ai0-8' class='ig-mobile ig-ai-abs' style='top:49.6448%;left:56.5187%;width:38.7523%;margin-left:-19.3762%;'>
				<p class='ig-ai-pstyle2'>St James&rsquo;s</p>
				<p class='ig-ai-pstyle2'>Park</p>
			</div>
			<div id='ig-ai0-9' class='ig-mobile ig-ai-abs' style='top:53.5178%;left:40.3170%;width:19.8183%;margin-left:-9.9091%;'>
				<p class='ig-ai-pstyle2'>Hyde</p>
				<p class='ig-ai-pstyle2'>Park</p>
			</div>
			<div id='ig-ai0-10' class='ig-mobile ig-ai-abs' style='top:54.5741%;left:91.7570%;width:24.6206%;margin-left:-12.3103%;'>
				<p class='ig-ai-pstyle2'>Tower</p>
				<p class='ig-ai-pstyle2'>Bridge</p>
			</div>
			<div id='ig-ai0-11' class='ig-mobile ig-ai-abs' style='top:64.7847%;left:62.5566%;width:48.8420%;margin-left:-24.4210%;'>
				<p class='ig-ai-pstyle2'>Westminster </p>
				<p class='ig-ai-pstyle2'>Bridge</p>
			</div>
			<div id='ig-ai0-12' class='ig-mobile ig-ai-abs' style='top:94.0083%;left:84.3101%;'>
				<p class='ig-ai-pstyle3'>2 km</p>
			</div>
		</div>
   </div>

<!-- Artboard: map560-produce a id of the artboard -->
  <div id='ig-map-map560' class='' data-o-grid-colspan="hide S12 Scenter Mhide">
		<style type='text/css' media='screen,print'>
			#ig-map-map560{
				position:relative;
				overflow:hidden;
				width:560px;
			}
			.ig-ai-abs{
				position:absolute;
			}
			.ig-ai-img{
				display:block;
				width:100% !important;
			}
			#ig-map-map560 p{
				font-family:MetricWeb,arial,helvetica,sans-serif;
				font-size:13px;
				line-height:18px;
				margin:0;
			}
			#ig-map-map560 .ig-ai-pstyle0 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:10px;
				line-height:17px;
				font-weight:500;
				text-align:right;
				color:#42413c;
			}
			#ig-map-map560 .ig-ai-pstyle1 {
				font-size:15px;
				line-height:15px;
				text-align:center;
				color:#404040;
			}
			#ig-map-map560 .ig-ai-pstyle2 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:15px;
				line-height:17px;
				font-weight:400;
				text-align:right;
				color:#42413c;
			}
			#ig-map-map560 .ig-ai-pstyle3 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:15px;
				line-height:15px;
				font-weight:500;
				text-align:center;
				color:#ffffff;
			}
		</style>

		 <div id='ig-map-map560-graphic'>
			<img id='ig-ai0-0'
				class='ig-ai-img'
				src='images/map-map560.png'
				/>
			<div id='ig-ai0-5' class='ig-map-map560 ig-ai-abs' style='top:30.7336%;left:45.9404%;width:18.0371%;margin-left:-9.0186%;'>
				<p class='ig-ai-pstyle3'>Regent&rsquo;s</p>
				<p class='ig-ai-pstyle3'>Park</p>
			</div>
			<div id='ig-ai0-6' class='ig-map-map560 ig-ai-abs' style='top:42.8783%;left:71.9484%;width:20.4213%;margin-left:-10.2107%;'>
				<p class='ig-ai-pstyle3'>St Paul&rsquo;s</p>
				<p class='ig-ai-pstyle3'>Cathedral</p>
			</div>
			<div id='ig-ai0-7' class='ig-map-map560 ig-ai-abs' style='top:50.3139%;left:23.2289%;width:23.7479%;margin-left:-11.8740%;'>
				<p class='ig-ai-pstyle3'>Kensington</p>
				<p class='ig-ai-pstyle3'>Gardens</p>
			</div>
			<div id='ig-ai0-8' class='ig-map-map560 ig-ai-abs' style='top:54.5274%;left:56.5023%;width:21.7013%;margin-left:-10.8507%;'>
				<p class='ig-ai-pstyle3'>St James&rsquo;s</p>
				<p class='ig-ai-pstyle3'>Park</p>
			</div>
			<div id='ig-ai0-9' class='ig-map-map560 ig-ai-abs' style='top:55.2709%;left:42.0387%;width:11.1748%;margin-left:-5.5874%;'>
				<p class='ig-ai-pstyle3'>Hyde</p>
				<p class='ig-ai-pstyle3'>Park</p>
			</div>
			<div id='ig-ai0-10' class='ig-map-map560 ig-ai-abs' style='top:56.7580%;left:88.2192%;width:13.8857%;margin-left:-6.9428%;'>
				<p class='ig-ai-pstyle3'>Tower</p>
				<p class='ig-ai-pstyle3'>Bridge</p>
			</div>
			<div id='ig-ai0-11' class='ig-map-map560 ig-ai-abs' style='top:58.9887%;left:74.5884%;width:22.6283%;margin-left:-11.3142%;'>
				<p class='ig-ai-pstyle3'>Southwark</p>
				<p class='ig-ai-pstyle3'>Bridge</p>
			</div>
			<div id='ig-ai0-12' class='ig-map-map560 ig-ai-abs' style='top:66.6721%;left:61.6209%;width:26.3138%;margin-left:-13.1569%;'>
				<p class='ig-ai-pstyle3'>Westminster</p>
				<p class='ig-ai-pstyle3'>Bridge</p>
			</div>
			<div id='ig-ai0-13' class='ig-map-map560 ig-ai-abs' style='top:93.6880%;left:86.8796%;width:9.9372%;margin-left:-4.9686%;'>
				<p class='ig-ai-pstyle3'>2 km</p>
			</div>
        </div>
    </div>

<!-- Artboard: map980-produce a id of the artboard -->
<div id='ig-map-map980' class='' data-o-grid-colspan="hide M10 Mcenter Lhide">
		<style type='text/css' media='screen,print'>
			#ig-map-map980{
				position:relative;
				overflow:hidden;
				width:760px;
			}
			.ig-ai-abs{
				position:absolute;
			}
			.ig-ai-img{
				display:block;
				width:100% !important;
			}
			#ig-map-map980 p{
				font-family:MetricWeb,arial,helvetica,sans-serif;
				font-size:13px;
				line-height:18px;
				margin:0;
			}
			#ig-map-map980 .ig-ai-pstyle0 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:18px;
				font-weight:500;
				text-align:center;
				color:#ffffff;
			}
		</style>
		<div id='ig-map-map980-graphic'>
			<img id='ig-ai0-0'
				class='ig-ai-img'
				src='images/londonMap980.png'
				/>
			<div id='ig-ai0-1' class='ig-map-map980 ig-ai-abs' style='top:32.2591%;left:47.5000%;width:15.9486%;margin-left:-7.9743%;'>
				<p class='ig-ai-pstyle0'>Regent&rsquo;s</p>
				<p class='ig-ai-pstyle0'>Park</p>
			</div>
			<div id='ig-ai0-2' class='ig-map-map980 ig-ai-abs' style='top:38.5582%;left:64.6895%;width:18.0566%;margin-left:-9.0283%;'>
				<p class='ig-ai-pstyle0'>St Paul&rsquo;s</p>
				<p class='ig-ai-pstyle0'>Cathedral</p>
			</div>
			<div id='ig-ai0-3' class='ig-map-map980 ig-ai-abs' style='top:43.5211%;left:31.1404%;width:20.9981%;margin-left:-10.4991%;'>
				<p class='ig-ai-pstyle0'>Kensington</p>
				<p class='ig-ai-pstyle0'>Gardens</p>
			</div>
			<div id='ig-ai0-4' class='ig-map-map980 ig-ai-abs' style='top:46.3843%;left:54.3168%;width:19.1887%;margin-left:-9.5943%;'>
				<p class='ig-ai-pstyle0'>St James&rsquo;s</p>
				<p class='ig-ai-pstyle0'>Park</p>
			</div>
			<div id='ig-ai0-5' class='ig-map-map980 ig-ai-abs' style='top:48.6749%;left:45.2851%;width:9.8810%;margin-left:-4.9405%;'>
				<p class='ig-ai-pstyle0'>Hyde</p>
				<p class='ig-ai-pstyle0'>Park</p>
			</div>
			<div id='ig-ai0-6' class='ig-map-map980 ig-ai-abs' style='top:49.8202%;left:74.9561%;width:12.2777%;margin-left:-6.1389%;'>
				<p class='ig-ai-pstyle0'>Tower</p>
				<p class='ig-ai-pstyle0'>Bridge</p>
			</div>
			<div id='ig-ai0-7' class='ig-map-map980 ig-ai-abs' style='top:50.7746%;left:64.6269%;width:20.0082%;margin-left:-10.0041%;'>
				<p class='ig-ai-pstyle0'>Southwark</p>
				<p class='ig-ai-pstyle0'>Bridge</p>
			</div>
			<div id='ig-ai0-8' class='ig-map-map980 ig-ai-abs' style='top:57.0737%;left:54.6503%;width:23.2670%;margin-left:-11.6335%;'>
				<p class='ig-ai-pstyle0'>Westminster</p>
				<p class='ig-ai-pstyle0'>Bridge</p>
			</div>
		</div>
	</div>

<!-- Artboard: map1220-produce a id of the artboard -->
  <div id='ig-map-map1220' class='' data-o-grid-colspan="hide L12 Lcenter XL12 XLcenter">
	    <style type='text/css' media='screen,print'>
	      #ig-map-map1220{
	        position:relative;
	        overflow:hidden;
	        width:1220px;
	      }
	      .ig-ai-abs{
	        position:absolute;
	      }
	      .ig-ai-img{
	        display:block;
	        width:100% !important;
	      }
	      #ig-map-map1220 p{
	        font-family:MetricWeb,arial,helvetica,sans-serif;
	        font-size:13px;
	        line-height:18px;
	        margin:0;
	      }
	      #ig-map-map1220 .ig-ai-pstyle0 {
	        font-family:MetricWeb,arial,sans-serif;
	        font-size:16px;
	        line-height:17px;
	        font-weight:500;
	        text-align:center;
	        color:#ffffff;
	      }
	    </style>
		    <div id='ig-map-map1220-graphic'>
		      <img id='ig-ai0-0' class='ig-ai-img' src='images/map-map1220.jpg'/>
		      <div id='ig-ai0-1' class='ig-map-map1220 ig-ai-abs' style='top:9.6552%;left:46.1475%;width:8.8313%;margin-left:-4.4157%;'>
		        <p class='ig-ai-pstyle0'>Regent&rsquo;s</p>
		        <p class='ig-ai-pstyle0'>Park</p>
		      </div>
		      <div id='ig-ai0-2' class='ig-map-map1220 ig-ai-abs' style='top:22.7586%;left:56.3661%;width:9.9986%;margin-left:-4.9993%;'>
		        <p class='ig-ai-pstyle0'>St Paul&rsquo;s</p>
		        <p class='ig-ai-pstyle0'>Cathedral</p>
		      </div>
		      <div id='ig-ai0-3' class='ig-map-map1220 ig-ai-abs' style='top:31.3793%;left:36.2022%;width:11.6274%;margin-left:-5.8137%;'>
		        <p class='ig-ai-pstyle0'>Kensington</p>
		        <p class='ig-ai-pstyle0'>Gardens</p>
		      </div>
		      <div id='ig-ai0-4' class='ig-map-map1220ig-ai-abs' style='top:36.8966%;left:50.5738%;width:10.6253%;margin-left:-5.3127%;'>
		        <p class='ig-ai-pstyle0'>St James&rsquo;s</p>
		        <p class='ig-ai-pstyle0'>Park</p>
		      </div>
		      <div id='ig-ai0-5' class='ig-map-map1220 ig-ai-abs' style='top:40.0000%;left:44.5628%;width:5.4715%;margin-left:-2.7357%;'>
		        <p class='ig-ai-pstyle0'>Hyde</p>
		        <p class='ig-ai-pstyle0'>Park</p>
		      </div>
		      <div id='ig-ai0-6' class='ig-map-map1220 ig-ai-abs' style='top:42.4138%;left:62.9782%;width:6.7986%;margin-left:-3.3993%;'>
		        <p class='ig-ai-pstyle0'>Tower</p>
		        <p class='ig-ai-pstyle0'>Bridge</p>
		      </div>
		      <div id='ig-ai0-7' class='ig-map-map1220 ig-ai-abs' style='top:46.2069%;left:57.0765%;width:11.0792%;margin-left:-5.5396%;'>
		        <p class='ig-ai-pstyle0'>Southwark</p>
		        <p class='ig-ai-pstyle0'>Bridge</p>
		      </div>
		      <div id='ig-ai0-8' class='ig-map-map1220 ig-ai-abs' style='top:54.8276%;left:51.0656%;width:12.8838%;margin-left:-6.4419%;'>
		        <p class='ig-ai-pstyle0'>Westminster</p>
		        <p class='ig-ai-pstyle0'>Bridge</p>
		      </div>
            </div>
        </div>    
 </div>

{% endblock %}
{% block article_body %}
{% markdown %}

Millions of Londoners live or work in areas with illegal levels of nitrogen dioxide, a pollutant from diesel engines linked with up to 9,400 premature deaths a year in the city. 

The UK government is under pressurefrom the European Commission for failing to address breaches of EU limits on the gas in the capital and 15 other areas, and is facing a court order to release a new draft air quality plan by tomorrow.

This map shows average annual levels of nitrogen dioxide (NO2) in 2013 - 2030.  

<div data-o-grid-colspan="12 M6 L3">
	<img src="images/emissions2013.png" class="small-multiple">
  	<div class="desc">2013</div>
</div>
<div data-o-grid-colspan="12 M6 L3">
	<img src="images/emissions2020.png" class="small-multiple">    
  	<div class="desc">2020</div>
</div>
<div data-o-grid-colspan="12 M6 L3">
	<img src="images/emissions2025.png" class="small-multiple">
  	<div class="desc">2025</div>
</div>
<div data-o-grid-colspan="12 M6 L3">
	<img src="images/emissions2030.png" class="small-multiple">
	<div class="desc">2030</div>
</div>

Nitrogen Oxides are a group of gases that are composed of nitrogen and oxygen. Two of the most common nitrogen oxides are nitric oxide and nitrogen dioxide.
 
The chemical formula for nitric oxide is NO; for nitrogen dioxide, it is NO2. Nitrous oxide, N2O, is a greenhouse gas that contributes to climate change.
<br></br>

<div id='ig-nitrogenChart' class='' data-o-grid-colspan="">
		<style type='text/css' media='screen,print'>
			#ig-nitrogenChart{
				position:relative;
				overflow:hidden;
				width:100%;
			}
			.ig-ai-abs{
				position:absolute;
			}
			.ig-ai-img{
				display:block;
				width:100% !important;
			}
			#ig-nitrogenChart p{
				font-family:MetricWeb,arial,helvetica,sans-serif;
				font-size:13px;
				line-height:18px;
				margin:0;
			}
			#ig-nitrogenChart .ig-ai-pstyle0 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:25px;
				line-height:30px;
				font-weight:400;
				color:#3b3d3b;
			}
			#ig-nitrogenChart .ig-ai-pstyle1 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:18px;
				line-height:22px;
				font-weight:400;
				color:#6b6e68;
			}
			#ig-nitrogenChart .ig-ai-pstyle2 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:14px;
				line-height:17px;
				font-weight:400;
				color:#6b6e68;
			}
		</style>
		<div id='ig-nitrogenChart-graphic' style='position:relative'>
			<img id='ig-ai0-0'
				class='ig-ai-img'
				src='images/NitrogenChart.png'
				/>
			<div id='ig-ai0-1' class='ig-nitrogenChart ig-ai-abs' style='top:-0.2356%;left:1.2929%;'>
				<p class='ig-ai-pstyle0'>Nitrogen Oxides emissions</p>
			</div>
			<div id='ig-ai0-2' class='ig-nitrogenChart ig-ai-abs' style='top:6.8316%;left:1.1560%;'>
				<p class='ig-ai-pstyle1'>Total NO2 emissions</p>
			</div>
			<div id='webt0' class='ig-nitrogenChart ig-ai-abs' style='top:12.4853%;left:4.5215%;'>
				<p class='ig-ai-pstyle1'>Road transport</p>
			</div>
			<div id='webt1' class='ig-nitrogenChart ig-ai-abs' style='top:12.4853%;left:23.7439%;'>
				<p class='ig-ai-pstyle1'>Other</p>
			</div>
			<div id='ig-ai0-5' class='ig-nitrogenChart ig-ai-abs' style='top:20.2591%;left:90.7433%;'>
				<p class='ig-ai-pstyle1'>60</p>
			</div>
			<div id='ig-ai0-6' class='ig-nitrogenChart ig-ai-abs' style='top:30.6243%;left:90.7433%;'>
				<p class='ig-ai-pstyle1'>50</p>
			</div>
			<div id='ig-ai0-7' class='ig-nitrogenChart ig-ai-abs' style='top:40.9894%;left:90.7433%;'>
				<p class='ig-ai-pstyle1'>40</p>
			</div>
			<div id='ig-ai0-8' class='ig-nitrogenChart ig-ai-abs' style='top:51.3545%;left:90.7433%;'>
				<p class='ig-ai-pstyle1'>30</p>
			</div>
			<div id='ig-ai0-9' class='ig-nitrogenChart ig-ai-abs' style='top:61.7197%;left:90.7433%;'>
				<p class='ig-ai-pstyle1'>20</p>
			</div>
			<div id='ig-ai0-10' class='ig-nitrogenChart ig-ai-abs' style='top:72.0848%;left:90.7433%;'>
				<p class='ig-ai-pstyle1'>10</p>
			</div>
			<div id='ig-ai0-11' class='ig-nitrogenChart ig-ai-abs' style='top:82.4499%;left:91.9958%;'>
				<p class='ig-ai-pstyle1'>0</p>
			</div>
			<div id='ig-ai0-12' class='ig-nitrogenChart ig-ai-abs' style='top:88.8104%;left:8.1280%;'>
				<p class='ig-ai-pstyle1'>2008</p>
			</div>
			<div id='ig-ai0-13' class='ig-nitrogenChart ig-ai-abs' style='top:88.8104%;left:22.5936%;'>
				<p class='ig-ai-pstyle1'>2010</p>
			</div>
			<div id='ig-ai0-14' class='ig-nitrogenChart ig-ai-abs' style='top:88.8104%;left:36.9670%;'>
				<p class='ig-ai-pstyle1'>2013</p>
			</div>
			<div id='ig-ai0-15' class='ig-nitrogenChart ig-ai-abs' style='top:88.8104%;left:50.8733%;'>
				<p class='ig-ai-pstyle1'>2020</p>
			</div>
			<div id='ig-ai0-16' class='ig-nitrogenChart ig-ai-abs' style='top:88.8104%;left:65.2249%;'>
				<p class='ig-ai-pstyle1'>2025</p>
			</div>
			<div id='ig-ai0-17' class='ig-nitrogenChart ig-ai-abs' style='top:88.8104%;left:79.3210%;'>
				<p class='ig-ai-pstyle1'>2030</p>
			</div>
			<div id='ig-ai0-18' class='ig-nitrogenChart ig-ai-abs' style='top:96.1131%;left:1.7036%;'>
				<p class='ig-ai-pstyle2'>Source: GLA</p>
			</div>
		</div>
	</div>
</div>
<br></br>

Transport for London is applying technology to reduce bus fleet emissions. Measures include introducing low-emission models plus adapting older engines


<div id='ig-busFleetChart' class='' data-o-grid-colspan="XS M L XL">
		<style type='text/css' media='screen,print'>
			#ig-busFleetChart{
				position:relative;
				overflow:hidden;
				width:731px;
			}
			.ig-ai-abs{
				position:absolute;
			}
			.ig-ai-img{
				display:block;
				width:100% !important;
			}
			#ig-busFleetChart p{
				font-family:MetricWeb,arial,helvetica,sans-serif;
				font-size:13px;
				line-height:18px;
				margin:0;
			}
			#ig-busFleetChart .ig-ai-pstyle0 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:25px;
				line-height:30px;
				font-weight:400;
				color:#3b3d3b;
			}
			#ig-busFleetChart .ig-ai-pstyle1 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:18px;
				line-height:22px;
				font-weight:400;
				color:#6b6e68;
			}
			#ig-busFleetChart .ig-ai-pstyle2 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:18px;
				line-height:22px;
				font-weight:400;
				text-align:right;
				color:#6b6e68;
			}
			#ig-busFleetChart .ig-ai-pstyle3 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:18px;
				line-height:22px;
				font-weight:600;
				color:#ffffff;
			}
			#ig-busFleetChart .ig-ai-pstyle4 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:18px;
				line-height:22px;
				font-weight:400;
				text-align:center;
				color:#6b6e68;
			}
			#ig-busFleetChart .ig-ai-pstyle5 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:18px;
				font-weight:400;
				color:#6b6e68;
			}
			#ig-busFleetChart .ig-ai-pstyle6 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:14px;
				line-height:14px;
				font-weight:400;
				color:#6c6e69;
			}
		</style>
		<div id='ig-busFleetChart-graphic'>
			<img id='ig-ai0-0'
				class='ig-ai-img'
				src='images/busFleetChart.png'
				/>
			<div id='ig-ai0-1' class='ig-ai2html-settings ig-ai-abs' style='top:1.1779%;left:1.7035%;'>
				<p class='ig-ai-pstyle0'>Composition of TFL&rsquo;s bus fleet</p>
			</div>
			<div id='ig-ai0-2' class='ig-ai2html-settings ig-ai-abs' style='top:7.3027%;left:1.7036%;'>
				<p class='ig-ai-pstyle1'>By European emission standard (&rsquo;000) </p>
			</div>
			<div id='ig-ai0-3' class='ig-ai2html-settings ig-ai-abs' style='top:10.6007%;right:6.1898%;'>
				<p class='ig-ai-pstyle2'>10</p>
			</div>
			<div id='webt6' class='ig-ai2html-settings ig-ai-abs' style='top:19.7880%;left:3.5524%;'>
				<p class='ig-ai-pstyle1'>Euro I (least stringent)</p>
			</div>
			<div id='ig-ai0-5' class='ig-ai2html-settings ig-ai-abs' style='top:24.7350%;right:6.1898%;'>
				<p class='ig-ai-pstyle2'>8</p>
			</div>
			<div id='webt6' class='ig-ai2html-settings ig-ai-abs' style='top:30.3887%;left:33.3218%;'>
				<p class='ig-ai-pstyle3'>Euro II</p>
			</div>
			<div id='webt6' class='ig-ai2html-settings ig-ai-abs' style='top:36.9847%;left:47.4280%;'>
				<p class='ig-ai-pstyle3'>Euro III</p>
			</div>
			<div id='ig-ai0-8' class='ig-ai2html-settings ig-ai-abs' style='top:38.8693%;right:6.1898%;'>
				<p class='ig-ai-pstyle2'>6</p>
			</div>
			<div id='webt6' class='ig-ai2html-settings ig-ai-abs' style='top:50.6478%;left:55.7747%;'>
				<p class='ig-ai-pstyle3'>Euro IV</p>
			</div>
			<div id='ig-ai0-10' class='ig-ai2html-settings ig-ai-abs' style='top:52.7680%;right:6.1898%;'>
				<p class='ig-ai-pstyle2'>4</p>
			</div>
			<div id='webt6' class='ig-ai2html-settings ig-ai-abs' style='top:65.0177%;left:62.0416%;'>
				<p class='ig-ai-pstyle3'>Euro V</p>
			</div>
			<div id='ig-ai0-12' class='ig-ai2html-settings ig-ai-abs' style='top:66.9022%;right:6.1898%;'>
				<p class='ig-ai-pstyle2'>2</p>
			</div>
			<div id='webt6' class='ig-ai2html-settings ig-ai-abs' style='top:78.4452%;left:66.1005%;'>
				<p class='ig-ai-pstyle3'>EEV</p>
			</div>
			<div id='ig-ai0-14' class='ig-ai2html-settings ig-ai-abs' style='top:80.8009%;right:6.1898%;'>
				<p class='ig-ai-pstyle2'>0</p>
			</div>
			<div id='ig-ai0-15' class='ig-ai2html-settings ig-ai-abs' style='top:87.1614%;left:11.9587%;width:5.1217%;margin-left:-2.5608%;'>
				<p class='ig-ai-pstyle4'>07</p>
			</div>
			<div id='ig-ai0-16' class='ig-ai2html-settings ig-ai-abs' style='top:87.1614%;left:19.8108%;width:5.1217%;margin-left:-2.5608%;'>
				<p class='ig-ai-pstyle4'>08</p>
			</div>
			<div id='ig-ai0-17' class='ig-ai2html-settings ig-ai-abs' style='top:87.1614%;left:27.6057%;width:5.1217%;margin-left:-2.5608%;'>
				<p class='ig-ai-pstyle4'>09</p>
			</div>
			<div id='ig-ai0-18' class='ig-ai2html-settings ig-ai-abs' style='top:87.1614%;left:43.0101%;width:5.1217%;margin-left:-2.5608%;'>
				<p class='ig-ai-pstyle4'>11</p>
			</div>
			<div id='ig-ai0-19' class='ig-ai2html-settings ig-ai-abs' style='top:87.1614%;left:58.7344%;width:5.1217%;margin-left:-2.5608%;'>
				<p class='ig-ai-pstyle4'>13</p>
			</div>
			<div id='ig-ai0-20' class='ig-ai2html-settings ig-ai-abs' style='top:87.1614%;left:66.3957%;width:5.1217%;margin-left:-2.5608%;'>
				<p class='ig-ai-pstyle4'>14</p>
			</div>
			<div id='ig-ai0-21' class='ig-ai2html-settings ig-ai-abs' style='top:87.1614%;left:74.3686%;width:5.1217%;margin-left:-2.5608%;'>
				<p class='ig-ai-pstyle4'>15</p>
			</div>
			<div id='ig-ai0-22' class='ig-ai2html-settings ig-ai-abs' style='top:87.1614%;left:82.3305%;width:5.1217%;margin-left:-2.5608%;'>
				<p class='ig-ai-pstyle4'>16</p>
			</div>
			<div id='ig-ai0-23' class='ig-ai2html-settings ig-ai-abs' style='top:87.1614%;left:89.4339%;width:10.2434%;margin-left:-5.1217%;'>
				<p class='ig-ai-pstyle4'>2017</p>
			</div>
			<div id='ig-ai0-24' class='ig-ai2html-settings ig-ai-abs' style='top:87.1614%;left:4.6932%;width:5.1217%;margin-left:-2.5608%;'>
				<p class='ig-ai-pstyle4'>06</p>
			</div>
			<div id='ig-ai0-25' class='ig-ai2html-settings ig-ai-abs' style='top:87.1614%;left:34.9231%;width:5.1217%;margin-left:-2.5608%;'>
				<p class='ig-ai-pstyle4'>10</p>
			</div>
			<div id='ig-ai0-26' class='ig-ai2html-settings ig-ai-abs' style='top:87.1614%;left:50.9409%;width:5.1215%;margin-left:-2.5608%;'>
				<p class='ig-ai-pstyle4'>12</p>
			</div>
			<div id='webt6' class='ig-ai2html-settings ig-ai-abs' style='top:93.9929%;left:68.2743%;'>
				<p class='ig-ai-pstyle5'>Euro VI (Most stringent)</p>
			</div>
			<div id='ig-ai0-28' class='ig-ai2html-settings ig-ai-abs' style='top:95.8775%;left:1.7036%;'>
				<p class='ig-ai-pstyle6'>Sources: GLA; TFL</p>
			</div>
		</div>
    </div> 
<br></br>

<div id='ig-yTypeMoble560' class='' data-o-grid-colspan="hide S12 Scenter Mhide">
		<style type='text/css' media='screen,print'>
			#ig-byType{
				position:relative;
				overflow:hidden;
				width:731px;
			}
			.ig-ai-abs{
				position:absolute;
			}
			.ig-ai-img{
				display:block;
				width:100% !important;
			}
			#ig-yTypeMoble560 p{
				font-family:MetricWeb,arial,helvetica,sans-serif;
				font-size:13px;
				line-height:18px;
				margin:0;
			}
			#ig-yTypeMoble560 .ig-ai-pstyle0 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:25px;
				line-height:30px;
				font-weight:400;
				color:#3b3d3b;
			}
			#ig-yTypeMoble560 .ig-ai-pstyle1 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:18px;
				line-height:22px;
				font-weight:400;
				color:#6b6e68;
			}
			#ig-yTypeMoble560 .ig-ai-pstyle2 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:24px;
				line-height:29px;
				font-weight:500;
				text-align:right;
				color:#858c8a;
			}
			#ig-yTypeMoble560 .ig-ai-pstyle3 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:24px;
				line-height:29px;
				font-weight:600;
				text-align:right;
				color:#ffffff;
			}
			#ig-yTypeMoble560 .ig-ai-pstyle4 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:37px;
				line-height:44px;
				font-weight:600;
				text-align:right;
				color:#d7706c;
			}
			#ig-yTypeMoble560 .ig-ai-pstyle5 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:37px;
				line-height:44px;
				font-weight:600;
				text-align:right;
				color:#ffffff;
			}
			#ig-yTypeMoble560 .ig-ai-pstyle6 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:37px;
				line-height:44px;
				font-weight:600;
				text-align:right;
				color:#76acb8;
			}
			#ig-yTypeMoble560 .ig-ai-pstyle7 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:25px;
				line-height:50px;
				font-weight:400;
				color:#535b5c;
			}
			#ig-yTypeMoble560 .ig-ai-pstyle8 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:18px;
				line-height:21px;
				font-weight:400;
				color:#6b6e68;
			}
			#ig-yTypeMoble560 .ig-ai-pstyle9 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:18px;
				font-weight:400;
				text-align:right;
				color:#6b6e68;
			}
			#ig-yTypeMoble560 .ig-ai-pstyle10 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:45px;
				line-height:50px;
				font-weight:400;
				text-align:center;
				color:#8e918f;
			}
		</style>
		<div id='ig-yTypeMoble560-graphic' class=''>
			<img id='ig-ai0-0'
				class='ig-ai-img'
				src='images/byType560.png'
				/>
			<div id='ig-ai0-1' class='ig-byTypeMoble560 ig-ai-abs' style='top:0.4539%;left:1.7035%;'>
				<p class='ig-ai-pstyle0'>By type</p>
			</div>
			<div id='ig-ai0-2' class='ig-byTypeMoble560 ig-ai-abs' style='top:2.9050%;left:1.7036%;'>
				<p class='ig-ai-pstyle1'>Jan 2017</p>
			</div>
			<div id='ig-ai0-3' class='ig-byTypeMoble560 ig-ai-abs' style='top:5.6285%;right:11.2414%;'>
				<p class='ig-ai-pstyle2'>Electric</p>
			</div>
			<div id='ig-ai0-4' class='ig-byTypeMoble560 ig-ai-abs' style='top:6.7178%;right:84.4739%;'>
				<p class='ig-ai-pstyle3'>Diesel</p>
			</div>
			<div id='ig-ai0-5' class='ig-byTypeMoble560 ig-ai-abs' style='top:6.8086%;right:31.6840%;'>
				<p class='ig-ai-pstyle3'>Hybrid</p>
			</div>
			<div id='ig-ai0-6' class='ig-byTypeMoble560 ig-ai-abs' style='top:7.4441%;right:11.2415%;'>
				<p class='ig-ai-pstyle4'>71</p>
			</div>
			<div id='ig-ai0-7' class='ig-byTypeMoble560 ig-ai-abs' style='top:8.6242%;right:84.4739%;'>
				<p class='ig-ai-pstyle5'>7,202</p>
			</div>
			<div id='ig-ai0-8' class='ig-byTypeMoble560 ig-ai-abs' style='top:8.7150%;right:31.6841%;'>
				<p class='ig-ai-pstyle5'>2,307</p>
			</div>
			<div id='ig-ai0-9' class='ig-byTypeMoble560 ig-ai-abs' style='top:20.7890%;right:11.7629%;'>
				<p class='ig-ai-pstyle2'>Fuel cell</p>
			</div>
			<div id='ig-ai0-10' class='ig-byTypeMoble560 ig-ai-abs' style='top:22.4230%;right:11.7629%;'>
				<p class='ig-ai-pstyle6'>8</p>
			</div>
			<div id='ig-ai0-11' class='ig-byTypeMoble560 ig-ai-abs' style='top:26.4174%;left:2.3028%;'>
				<p class='ig-ai-pstyle1'>Over 2,000 older, dirtier, diesel buses have</p>
				<p class='ig-ai-pstyle1'>been fitted with selective catalytic reduction</p>
			</div>
			<div id='ig-ai0-12' class='ig-byTypeMoble560 ig-ai-abs' style='top:38.4006%;left:2.2323%;'>
				<p class='ig-ai-pstyle7'>What is selective catalytic reduction</p>
			</div>
			<div id='ig-ai0-13' class='ig-byTypeMoble560 ig-ai-abs' style='top:42.5765%;left:2.8044%;'>
				<p class='ig-ai-pstyle8'>Urea injection</p>
			</div>
			<div id='ig-ai0-14' class='ig-byTypeMoble560 ig-ai-abs' style='top:42.5765%;left:60.8756%;'>
				<p class='ig-ai-pstyle8'>Diesel exhaust</p>
			</div>
			<div id='ig-ai0-15' class='ig-byTypeMoble560 ig-ai-abs' style='top:47.2064%;right:37.6197%;'>
				<p class='ig-ai-pstyle9'>Diffuser</p>
				<p class='ig-ai-pstyle9'>plate</p>
			</div>
			<div id='ig-ai0-16' class='ig-byTypeMoble560 ig-ai-abs' style='top:48.7497%;left:24.6922%;'>
				<p class='ig-ai-pstyle8'>CRT filter</p>
			</div>
			<div id='ig-ai0-17' class='ig-byTypeMoble560 ig-ai-abs' style='top:48.7497%;left:41.2450%;'>
				<p class='ig-ai-pstyle8'>CRT catalyst</p>
			</div>
			<div id='ig-ai0-18' class='ig-byTypeMoble560 ig-ai-abs' style='top:53.7427%;left:67.6699%;width:6.4020%;margin-left:-3.2010%;'>
				<p class='ig-ai-pstyle10'>1</p>
			</div>
			<div id='ig-ai0-19' class='ig-byTypeMoble560 ig-ai-abs' style='top:60.0066%;left:57.4784%;width:6.4020%;margin-left:-3.2010%;'>
				<p class='ig-ai-pstyle10'>2</p>
			</div>
			<div id='ig-ai0-20' class='ig-byTypeMoble560 ig-ai-abs' style='top:60.0974%;left:38.7368%;width:6.4020%;margin-left:-3.2010%;'>
				<p class='ig-ai-pstyle10'>3</p>
			</div>
			<div id='ig-ai0-21' class='ig-byTypeMoble560 ig-ai-abs' style='top:65.6350%;left:18.0802%;width:6.4020%;margin-left:-3.2010%;'>
				<p class='ig-ai-pstyle10'>4</p>
			</div>
			<div id='ig-ai0-22' class='ig-byTypeMoble560 ig-ai-abs' style='top:81.3402%;left:60.0091%;width:6.4020%;margin-left:-3.2010%;'>
				<p class='ig-ai-pstyle10'>6</p>
			</div>
			<div id='ig-ai0-23' class='ig-byTypeMoble560 ig-ai-abs' style='top:81.3402%;left:42.4304%;width:6.4020%;margin-left:-3.2010%;'>
				<p class='ig-ai-pstyle10'>5</p>
			</div>
			<div id='ig-ai0-24' class='ig-byTypeMoble560 ig-ai-abs' style='top:92.3248%;left:65.5039%;'>
				<p class='ig-ai-pstyle8'>Nitrogen, water and carbon</p>
				<p class='ig-ai-pstyle8'>dioxide into the atmosphere</p>
			</div>
			<div id='ig-ai0-25' class='ig-byTypeMoble560 ig-ai-abs' style='top:94.1404%;left:12.6995%;'>
				<p class='ig-ai-pstyle8'>Mixing section</p>
			</div>
			<div id='ig-ai0-26' class='ig-byTypeMoble560 ig-ai-abs' style='top:94.1404%;left:28.4314%;'>
				<p class='ig-ai-pstyle8'>SCR catalyst</p>
			</div>
			<div id='ig-ai0-27' class='ig-byTypeMoble560 ig-ai-abs' style='top:94.1404%;left:44.9156%;'>
				<p class='ig-ai-pstyle8'>Cleanup catalyst</p>
		    </div>
		</div>
    </div>
	<div id='ig-TFL_295' class=''>
		<style type='text/css' media='screen,print'>
			#ig-TFL_295-Artboard_1{
				position:relative;
				overflow:hidden;
				width:295px;
			}
			.ig-ai-abs{
				position:absolute;
			}
			.ig-ai-img{
				display:block;
				width:100% !important;
			}
			#ig-TFL_295-Artboard_1 p{
				font-family:MetricWeb,arial,helvetica,sans-serif;
				font-size:13px;
				line-height:18px;
				margin:0;
			}
			#ig-TFL_295-Artboard_1 .ig-ai-pstyle0 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:28px;
				line-height:32px;
				font-weight:600;
				color:#3b3d3b;
			}
			#ig-TFL_295-Artboard_1 .ig-ai-pstyle1 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:14px;
				line-height:17px;
				font-weight:400;
				color:#6b6e68;
			}
			#ig-TFL_295-Artboard_1 .ig-ai-pstyle2 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:14px;
				line-height:17px;
				font-weight:400;
				text-align:right;
				color:#6b6e68;
			}
			#ig-TFL_295-Artboard_1 .ig-ai-pstyle3 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:14px;
				line-height:22px;
				font-weight:400;
				color:#6b6e68;
			}
			#ig-TFL_295-Artboard_1 .ig-ai-pstyle4 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:15px;
				font-weight:600;
				color:#ffffff;
			}
			#ig-TFL_295-Artboard_1 .ig-ai-pstyle5 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:14px;
				line-height:17px;
				font-weight:400;
				text-align:center;
				color:#6b6e68;
			}
			#ig-TFL_295-Artboard_1 .ig-ai-pstyle6 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:14px;
				font-weight:400;
				color:#6b6e68;
			}
			#ig-TFL_295-Artboard_1 .ig-ai-pstyle7 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:12px;
				line-height:14px;
				font-weight:400;
				color:#6c6e69;
			}
		</style>
		<div id='ig-TFL_295-Artboard_1-graphic'>
			<img id='ig-ai0-0'
				class='ig-ai-img'
				src='images/TFL_295.png'
				/>
			<div id='ig-ai0-1' class='ig-ai2html-settings ig-ai-abs' style='top:0.8565%;left:2.7470%;'>
				<p class='ig-ai-pstyle0'>Composition of TFL&rsquo;s </p>
				<p class='ig-ai-pstyle0'>bus fleet</p>
			</div>
			<div id='ig-ai0-2' class='ig-ai2html-settings ig-ai-abs' style='top:14.9893%;left:2.7471%;'>
				<p class='ig-ai-pstyle1'>By European emission standard (&rsquo;000) </p>
			</div>
			<div id='ig-ai0-3' class='ig-ai2html-settings ig-ai-abs' style='top:17.9872%;right:3.1108%;'>
				<p class='ig-ai-pstyle2'>10</p>
			</div>
			<div id='webt6' class='ig-ai2html-settings ig-ai-abs' style='top:23.1263%;left:4.6095%;'>
				<p class='ig-ai-pstyle3'>Euro I (least stringent)</p>
			</div>
			<div id='ig-ai0-5' class='ig-ai2html-settings ig-ai-abs' style='top:30.6210%;right:3.1108%;'>
				<p class='ig-ai-pstyle2'>8</p>
			</div>
			<div id='webt6' class='ig-ai2html-settings ig-ai-abs' style='top:38.5439%;left:16.7452%;'>
				<p class='ig-ai-pstyle4'>Euro II</p>
			</div>
			<div id='webt6' class='ig-ai2html-settings ig-ai-abs' style='top:41.1135%;left:49.5994%;'>
				<p class='ig-ai-pstyle4'>Euro III</p>
			</div>
			<div id='ig-ai0-8' class='ig-ai2html-settings ig-ai-abs' style='top:43.4690%;right:3.1108%;'>
				<p class='ig-ai-pstyle2'>6</p>
			</div>
			<div id='webt6' class='ig-ai2html-settings ig-ai-abs' style='top:53.7473%;left:57.2170%;'>
				<p class='ig-ai-pstyle4'>Euro IV</p>
			</div>
			<div id='ig-ai0-10' class='ig-ai2html-settings ig-ai-abs' style='top:56.3169%;right:3.1108%;'>
				<p class='ig-ai-pstyle2'>4</p>
			</div>
			<div id='webt6' class='ig-ai2html-settings ig-ai-abs' style='top:64.6681%;left:69.1794%;'>
				<p class='ig-ai-pstyle4'>Euro V</p>
			</div>
			<div id='ig-ai0-12' class='ig-ai2html-settings ig-ai-abs' style='top:69.1649%;right:3.1108%;'>
				<p class='ig-ai-pstyle2'>2</p>
			</div>
			<div id='webt6' class='ig-ai2html-settings ig-ai-abs' style='top:79.4433%;left:67.6188%;'>
				<p class='ig-ai-pstyle4'>EEV</p>
			</div>
			<div id='ig-ai0-14' class='ig-ai2html-settings ig-ai-abs' style='top:81.7987%;right:3.1108%;'>
				<p class='ig-ai-pstyle2'>0</p>
			</div>
			<div id='ig-ai0-15' class='ig-ai2html-settings ig-ai-abs' style='top:87.5803%;left:13.0777%;width:9.8709%;margin-left:-4.9354%;'>
				<p class='ig-ai-pstyle5'>07</p>
			</div>
			<div id='ig-ai0-16' class='ig-ai2html-settings ig-ai-abs' style='top:87.5803%;left:20.9875%;width:9.8709%;margin-left:-4.9354%;'>
				<p class='ig-ai-pstyle5'>08</p>
			</div>
			<div id='ig-ai0-17' class='ig-ai2html-settings ig-ai-abs' style='top:87.5803%;left:28.8400%;width:9.8709%;margin-left:-4.9354%;'>
				<p class='ig-ai-pstyle5'>09</p>
			</div>
			<div id='ig-ai0-18' class='ig-ai2html-settings ig-ai-abs' style='top:87.5803%;left:44.3578%;width:9.8709%;margin-left:-4.9354%;'>
				<p class='ig-ai-pstyle5'>11</p>
			</div>
			<div id='ig-ai0-19' class='ig-ai2html-settings ig-ai-abs' style='top:87.5803%;left:60.1981%;width:9.8709%;margin-left:-4.9354%;'>
				<p class='ig-ai-pstyle5'>13</p>
			</div>
			<div id='ig-ai0-20' class='ig-ai2html-settings ig-ai-abs' style='top:87.5803%;left:67.9159%;width:9.8709%;margin-left:-4.9354%;'>
				<p class='ig-ai-pstyle5'>14</p>
			</div>
			<div id='ig-ai0-21' class='ig-ai2html-settings ig-ai-abs' style='top:87.5803%;left:75.9476%;width:9.8709%;margin-left:-4.9354%;'>
				<p class='ig-ai-pstyle5'>15</p>
			</div>
			<div id='ig-ai0-22' class='ig-ai2html-settings ig-ai-abs' style='top:87.5803%;left:83.9680%;width:9.8709%;margin-left:-4.9354%;'>
				<p class='ig-ai-pstyle5'>16</p>
			</div>
			<div id='ig-ai0-23' class='ig-ai2html-settings ig-ai-abs' style='top:87.5803%;left:91.8861%;width:9.8709%;margin-left:-4.9354%;'>
				<p class='ig-ai-pstyle5'>17</p>
			</div>
			<div id='ig-ai0-24' class='ig-ai2html-settings ig-ai-abs' style='top:87.5803%;left:5.7584%;width:9.8709%;margin-left:-4.9354%;'>
				<p class='ig-ai-pstyle5'>06</p>
			</div>
			<div id='ig-ai0-25' class='ig-ai2html-settings ig-ai-abs' style='top:87.5803%;left:36.2113%;width:9.8709%;margin-left:-4.9354%;'>
				<p class='ig-ai-pstyle5'>10</p>
			</div>
			<div id='ig-ai0-26' class='ig-ai2html-settings ig-ai-abs' style='top:87.5803%;left:52.3471%;width:9.8712%;margin-left:-4.9356%;'>
				<p class='ig-ai-pstyle5'>12</p>
			</div>
			<div id='webt6' class='ig-ai2html-settings ig-ai-abs' style='top:93.3619%;left:51.2493%;'>
				<p class='ig-ai-pstyle6'>Euro VI (Most stringent)</p>
			</div>
			<div id='ig-ai0-28' class='ig-ai2html-settings ig-ai-abs' style='top:94.6467%;left:2.7471%;'>
				<p class='ig-ai-pstyle7'>Sources: GLA; TFL</p>
			</div>
		</div>
	</div>

 
<div id='ig-Moblie295Image' class='' data-o-grid-colspan="12 center">
		<style type='text/css' media='screen,print'>
			#ig-Moblie295Image{
				position:relative;
				overflow:hidden;
				width:295px;
			}
			.ig-ai-abs{
				position:absolute;
			}
			.ig-ai-img{
				display:block;
				width:100% !important;
			}
			#ig-Moblie295Image p{
				font-family:MetricWeb,arial,helvetica,sans-serif;
				font-size:13px;
				line-height:18px;
				margin:0;
			}
			#ig-Moblie295Image .ig-ai-pstyle0 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:28px;
				line-height:32px;
				font-weight:600;
				color:#3b3d3b;
			}
			#ig-Moblie295Image.ig-ai-pstyle1 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:14px;
				line-height:17px;
				font-weight:500;
				text-align:right;
				color:#858c8a;
			}
			#ig-Moblie295Image .ig-ai-pstyle2 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:14px;
				line-height:17px;
				font-weight:600;
				text-align:right;
				color:#76acb8;
			}
			#ig-Moblie295Image .ig-ai-pstyle3 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:14px;
				line-height:17px;
				font-weight:600;
				text-align:right;
				color:#d7706c;
			}
			#ig-Moblie295Image .ig-ai-pstyle4 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:14px;
				line-height:17px;
				font-weight:600;
				text-align:right;
				color:#ffffff;
			}
			#ig-Moblie295Image .ig-ai-pstyle5 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:18px;
				line-height:22px;
				font-weight:600;
				text-align:right;
				color:#ffffff;
			}
			#ig-Moblie295Image .ig-ai-pstyle6 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:15px;
				font-weight:500;
				color:#ffffff;
			}
			#ig-Moblie295Image .ig-ai-pstyle7 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:14px;
				line-height:16px;
				font-weight:400;
				text-align:right;
				color:#6b6e68;
			}
			#ig-Moblie295Image .ig-ai-pstyle8 {
				font-family:MetricWeb,arial,sans-serif;
				font-size:14px;
				line-height:15px;
				font-weight:400;
				text-align:right;
				color:#6b6e68;
			}
		</style>
		<div id='ig-byTypeMoble295-graphic' class='' data-o-grid-colspan="12 center Shide">
			<img id='ig-ai0-0'
				class='ig-ai-img'
				src='images/Moblie295Image.png'
				/>
			<div id='ig-ai0-1' class='ig-byTypeMoble295 ig-ai-abs' style='top:0.0000%;left:2.3186%;'>
				<p class='ig-ai-pstyle0'>By type</p>
			</div>
			<div id='ig-ai0-2' class='ig-byTypeMoble295 ig-ai-abs' style='top:3.7628%;right:79.4894%;'>
				<p class='ig-ai-pstyle1'>Jan 2017</p>
			</div>
			<div id='ig-ai0-3' class='ig-byTypeMoble295 ig-ai-abs' style='top:5.9293%;right:22.0114%;'>
				<p class='ig-ai-pstyle1'>Fuel cell</p>
			</div>
			<div id='ig-ai0-4' class='ig-byTypeMoble295 ig-ai-abs' style='top:6.6135%;right:75.5073%;'>
				<p class='ig-ai-pstyle1'>Electric</p>
			</div>
			<div id='ig-ai0-5' class='ig-byTypeMoble295 ig-ai-abs' style='top:7.5257%;right:22.0114%;'>
				<p class='ig-ai-pstyle2'>8</p>
			</div>
			<div id='ig-ai0-6' class='ig-byTypeMoble295 ig-ai-abs' style='top:8.3238%;right:75.5072%;'>
				<p class='ig-ai-pstyle3'>71</p>
			</div>
			<div id='ig-ai0-7' class='ig-byTypeMoble295 ig-ai-abs' style='top:12.6568%;right:23.9533%;'>
				<p class='ig-ai-pstyle4'>Hybrid</p>
			</div>
			<div id='ig-ai0-8' class='ig-byTypeMoble295 ig-ai-abs' style='top:14.2531%;right:23.9533%;'>
				<p class='ig-ai-pstyle5'>2,307</p>
			</div>
			<div id='ig-ai0-9' class='ig-byTypeMoble295 ig-ai-abs' style='top:25.4276%;left:6.0664%;'>
				<p class='ig-ai-pstyle6'>Over 2,000 older, dirtier, </p>
				<p class='ig-ai-pstyle6'>diesel buses have been </p>
				<p class='ig-ai-pstyle6'>fitted with selective </p>
				<p class='ig-ai-pstyle6'>catalytic reduction</p>
			</div>
			<div id='ig-ai0-10' class='ig-byTypeMoble295 ig-ai-abs' style='top:34.0935%;right:24.4674%;'>
				<p class='ig-ai-pstyle4'>Diesel</p>
			</div>
			<div id='ig-ai0-11' class='ig-byTypeMoble295 ig-ai-abs' style='top:35.6899%;right:24.4674%;'>
				<p class='ig-ai-pstyle5'>7,202</p>
			</div>
			<div id='ig-ai0-12' class='ig-byTypeMoble295 ig-ai-abs' style='top:41.2771%;left:2.1011%;'>
				<p class='ig-ai-pstyle0'>What is selective </p>
				<p class='ig-ai-pstyle0'>catalytic reduction</p>
			</div>
			<div id='ig-ai0-13' class='ig-byTypeMoble295 ig-ai-abs' style='top:49.4869%;right:14.5806%;'>
				<p class='ig-ai-pstyle7'>Diesel</p>
				<p class='ig-ai-pstyle7'>exhaust</p>
			</div>
			<div id='ig-ai0-14' class='ig-byTypeMoble295 ig-ai-abs' style='top:53.4778%;right:28.5405%;'>
				<p class='ig-ai-pstyle7'>Diffuser</p>
				<p class='ig-ai-pstyle7'>plate</p>
			</div>
			<div id='ig-ai0-15' class='ig-byTypeMoble295 ig-ai-abs' style='top:54.8461%;right:82.3298%;'>
				<p class='ig-ai-pstyle7'>Urea</p>
				<p class='ig-ai-pstyle7'>injection</p>
			</div>
			<div id='ig-ai0-16' class='ig-byTypeMoble295 ig-ai-abs' style='top:57.6967%;right:38.7480%;'>
				<p class='ig-ai-pstyle8'>CRT</p>
				<p class='ig-ai-pstyle8'>catalyst</p>
			</div>
			<div id='ig-ai0-17' class='ig-byTypeMoble295 ig-ai-abs' style='top:58.1528%;right:60.5012%;'>
				<p class='ig-ai-pstyle7'>CRT</p>
				<p class='ig-ai-pstyle7'>filter</p>
			</div>
			<div id='ig-ai0-18' class='ig-byTypeMoble295 ig-ai-abs' style='top:87.0011%;right:34.0188%;'>
				<p class='ig-ai-pstyle7'>Cleanup</p>
				<p class='ig-ai-pstyle7'>catalyst</p>
			</div>
			<div id='ig-ai0-19' class='ig-byTypeMoble295 ig-ai-abs' style='top:88.7115%;right:59.8474%;'>
				<p class='ig-ai-pstyle7'>SCR</p>
				<p class='ig-ai-pstyle7'>catalyst</p>
			</div>
			<div id='ig-ai0-20' class='ig-byTypeMoble295 ig-ai-abs' style='top:93.0445%;right:76.3415%;'>
				<p class='ig-ai-pstyle7'>Mixing</p>
				<p class='ig-ai-pstyle7'>section</p>
			</div>
			<div id='ig-ai0-21' class='ig-byTypeMoble295 ig-ai-abs' style='top:93.1585%;right:6.8949%;'>
				<p class='ig-ai-pstyle7'>Nitrogen, water</p>
				<p class='ig-ai-pstyle7'>and carbon dioxide</p>
				<p class='ig-ai-pstyle7'>into the atmosphere</p>
			</div>
		</div>
	</div>
</div>

<br></br>

1. Diesel exhaust from the engine enters the system and passes through a diffuser plate to smooth out the flow.

2. The exhaust passes through a CRT catalyst coated with platinum. Oxidation occurs with Carbon monoxide becoming carbon dioxide, hydrocarbons turning to carbon dioxide and water and proportion of nitrogen dioxide is increased.

3. next, it passes through a CRT filter, trapping particulates. The particulates react with nitrogen dioxide, creating carbon dioxide and water.

4. Urea is injected into the exhaust in the mixing section. The urea rapidly decomposes to ammmonia.

5. Gases then pass through the SCR catalyst where the ammonia breaks down the nitrogen oxides to nitrogen and water.

6. A final cleanup catalyst turns any remaining ammonia to nitrogen and water vapour.

{% endmarkdown %}
{% endblock %}

